/* Other rules */

body {
  background-color: black;
  color: white;
}

/* HEADER */

.header-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.header-container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 30%;
}

.header-input {
  width: 50%;
  margin: 10px;
  padding: 5px;
}

/* MENU */
.menu {
  display: flex;
  justify-content: space-evenly;
  color: red;
  padding: 5px;
  border: 2px solid red;
}

/* CONTAINER */

.container {
  width: 100%;
  border: 2px solid green;
  padding: 20px;
  box-sizing: border-box;
}
.link {
  position: relative;
}

.character-container {
  border: 4px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.character-patch {
  border: 3px solid pink;
  margin: 10px;
  width: 220px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.character-patch-pic {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.checkbox-fav {
  position: absolute;
}

/* COMICS BY CHARACTER */
.character-comics-container {
  border: 4px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character-comics-patch {
  border: 3px solid pink;
  margin: 10px;
  width: 400px;
  height: 700px;
}

/* PAGE */

.page {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: red;
  align-items: center;
}

.page-btn {
  margin: 5px;
  background-color: rosybrown;
  border: none;
  color: white;
}
/* SIGNUP */
/* The Modal (background) */
.signup {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.signup-content {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 50%;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 35%; /* Could be more or less, depending on screen size */
  background-image: url("./img/deadpool.webp");
}

/* The Close Button */
.close {
  color: white;
  float: right;
  width: 5%;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

form input {
  margin: 10px;
  padding: 10px;
  width: 80%;
  border: none;
  border-bottom: 1px red dashed;
  background-color: black;
  color: white;
}

.btn-send {
  margin: 40px;
  width: 30%;
  background-color: red;
  color: white;
}
